/* styles.css */
.app-container {
    position: relative;
    width: 2560px;
    height: 2560px;
    z-index: 98;
}

@keyframes shining {
    50% { color: #FFD700; } /* Transition to yellow color */
    100% { color: yellow; } /* Transition back to white color */
}

.shine {
    animation: shining 1.5s infinite; /* Apply the animation */
}

@keyframes shiningTitle {
    50% { color: hotpink; } /* Transition to yellow color */
    100% { color: deeppink; } /* Transition back to white color */
}

.shineTitle {
    animation: shiningTitle 1.5s infinite; /* Apply the animation */
}

.video-container {
    position: absolute;
    width: 3328px;
    height: 1872px;
    z-index: 1;
}

.ranking-floating-container {
    position: absolute;
    top: 20px;
    left: 110%;
    width: 800px;
    height: 300px;
    /*background-color: rgba(255, 255, 255, 0.9);    */
    background-color:  rgba(255, 0, 0, 0);
    /*border: 1px solid #ccc;*/
    padding: 15px;
    z-index: 99;
    transition: all 0.3s ease; /* Optional: Add transition for smoother appearance */
    font-family: 'Roboto', sans-serif; /* Use Roboto font with fallback to sans-serif */
    font-size: 28px; /* Set the font size to 16 pixels */
    color: slateblue; /* Set the text color to black */
    border: 1px transparent;
    font-weight: bold;
    margin: 10px;
    line-height: 3rem;
}

.title{
    background-color:rgba(128, 0, 128, 0.2);
    border-radius: 20px;
}

.rank-message {
    max-width: fit-content;
    padding: 10px 15px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 15px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #888888;
    background-color:rgba(0,0,0,0.1);
    letter-spacing: 50rem;
    line-height: 25rem;
    font-weight: bold; /* Font weight of the button text */
}

/* chatStyles.css */

.chat-container {
    position: absolute;
    bottom: 430px;
    left: 20px;
    max-width: fit-content;
    margin: 0 auto;
    /*padding: 20px;*/
    /*border: 4px solid #ccc;*/
    border: 1px transparent;
    /*border-radius: 5px;*/
    width: fit-content;/* 1200px*/
    height: 600px;
    /*overflow-y: scroll;*/
    border-radius: 5px;
    padding: 10px;
    z-index: 99;
    /*color: #61dafb;*/
    color:white;
    display: flex;
    flex-direction: column-reverse;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
    font-weight: bold; /* Font weight of the button text */
    font-size: 25px;
}

.tip {
    /* Styles for tip */
    color: deeppink; /* Make the tip yellow #FFEA00 */
}

.name {
    color: deeppink;
}

.input-container {
    display: flex;
    align-items: center; /* Align items vertically */
    z-index: 99;
}

.input-box {
    /*flex: 1; !* Takes up remaining space *!*/
    position: absolute;
    bottom:800px;
    left:90px;
    width: 300px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    border: 1px transparent;
    margin-right: 10px;
    z-index: 99;
    background-color: #888888;
    background-color:rgba(0,0,0,0.2);
}

.message {
    /*padding: 8px 12px;*/
    /*border-radius: 4px;*/
    /*max-width: 100%;*/
    /*background: transparent;*/
    max-width: fit-content;
    padding: 10px 15px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 15px;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #888888;
    background-color:rgba(0,0,0,0.2);
    font-weight: bold; /* Font weight of the button text */
}

.message-content {
    margin-left: 10px;
}

.message-timestamp {
    color: #888;
    font-size: 0.8rem;
    margin-top: 5px;
}

.bio-container {
    position: absolute;
    bottom: 0;
    width: 800px;
}

.send-button {
    position: absolute;
    bottom:800px;
    left:410px;
    height: 50px;
    width: 90px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #888888;
    background-color:rgba(0,0,0,0.2);
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
    /*background-image: url('logo.svg');!* URL of the message icon image *!*/
    background-repeat: no-repeat;
    background-position: center; /* Center the image within the button */
    text-transform: uppercase; /* Convert text to uppercase */
    font-weight: bold; /* Font weight of the button text */
    font-size: 20px; /* Font size of the button text */
    z-index: 99;
}

.private-button {
    position: absolute; /* Adjust button position */
    padding: 10px 20px; /* Adjust padding to change button size */
    margin-right:50px;
    border: none;
    border-radius: 5px;
    background-color: brown; /* Button background color */
    color: white; /* Button text color */
    font-size: 22px; /* Font size of the button text */
    font-weight: bold; /* Font weight of the button text */
    text-transform: uppercase; /* Convert text to uppercase */
    cursor: pointer;
    top: 70%; /* Adjust top position */
    right: 30%; /* Adjust left position */
    transform: translate(-50%, -50%); /* Center the button horizontally and vertically */
    z-index: 99;
}

.send-tip-button {
    position: absolute; /* Adjust button position */
    padding: 10px 20px; /* Adjust padding to change button size */
    border: none;
    border-radius: 5px;
    background-color: forestgreen; /* Button background color */
    color: white; /* Button text color */
    font-size: 22px; /* Font size of the button text */
    font-weight: bold; /* Font weight of the button text */
    text-transform: uppercase; /* Convert text to uppercase */
    cursor: pointer;
    top: 70%; /* Adjust top position */
    right: 25%; /* Adjust left position */
    transform: translate(-50%, -50%); /* Center the button horizontally and vertically */
    z-index: 99;
}
